body {
    background-color: #817464;
    user-select: none;
    color: #FAEDC6;
}

.table-formatting {
    font-family: 'Roboto Mono';
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
	text-align: center;
    border-spacing: 0 4px;
}

tbody tr:nth-child(odd) {
  background: #2f4858;
}

tbody tr:nth-child(even) {
  background: #5C4033;
}

#generator-table tr td:last-child {
    width: 0px;
}

#header-container {
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 20px;
}

#scraps-text {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

#scraps-per-second-text {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 25px 0px;
}

.menu-buttons {
    text-align: center;
    font-size: 25px;
    color: black;
    background-color: silver;
    width: 175px;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Roboto Mono';
    border-width: 4px;
    border-color: black;
}

.menu-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.generator-buttons {
    color: black;
    font-size: 25px;
    height: 45px;
    font-family: 'Roboto Mono';
    background-color: silver;
    border-width: 4px;
    border-color: black;
}

.generator-buttons:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.buy-amount-buttons-container {
    text-align: center;
}

.buy-amount-buttons {
    font-size: 25px;
    height: 50px;
    width: 100px;
    margin: 5px 0px 0px 0px;
    font-family: 'Roboto Mono';
    background-color: silver;
    color: black;
    border-width: 4px;
}

#buy-amount-text {
    font-size: 25px;
}

.buy-amount-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.prestige-info {
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 25px 0px; 
}

#prestige-button {
    font-family: 'Roboto Mono';
    font-size: 30px;
    height: 80px;
    margin: 0 auto;
    display: block;
    color: black;
    background-color: silver;
    border-width: 4px;
    border-color: black;
}

#prestige-button:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.upgrade-buttons {
    font-size: 25px;
    height: 45px;
    font-family: 'Roboto Mono';
    color: black;
    background-color: silver;
    border-width: 4px;
    border-color: black;
}

.upgrade-buttons:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#goals-container {
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 25px;
    margin: 0 auto;
}

#stats-container {
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 29px;
    margin: 0 auto;
}

.settings-buttons {
    text-align: center;
    font-size: 30px;
    width: 225px;
    height: 100px;
    margin: 50px 25px 50px 100px;
    font-family: 'Roboto Mono';
    color: black;
    background-color: silver;
    border-width: 4px;
    border-color: black;
}

.settings-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
